@model e_commerce.Models.UserLogin

<div class="container mt-5" style="max-width: 450px;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="logo-container">
                        <a href="/Home/Index"> 
                        <img src="/images/1.png" alt="Bookery Logo" class="bookery-logo">
                        </a>
                    </div>
                    <style>
                        .logo-container {
                            text-align: center;
                            margin: 10px; 
                            padding: 0; 
                        }
                        
                        .bookery-logo {
                            max-width: 250px; 
                            width: 100%; 
                            height: auto;
                            transition: transform 0.3s ease; 
                            margin-top: 20px; 
                            margin-bottom: 10px; 
                        }

                        .bookery-logo:hover {
                            transform: scale(1.2); 
                        }

                        /* Floating Label ve Checkbox CSS */
                        .floating-label-group {
                            position: relative;
                            margin-bottom: 20px;
                        }

                        .floating-input {
                            width: 100%;
                            padding: 8px 0 6px;
                            font-size: 13px;
                            background: none;
                            border: none;
                            border-bottom: 1px solid #ced4da; 
                            color: #000;
                            outline: none;
                            transition: border-color 0.3s ease;
                        }

                        .floating-input:focus {
                            border-bottom: 1px solid #d25062; 
                        }

                        .floating-label {
                            position: absolute;
                            top: 10px;
                            left: 0;
                            font-size: 13px;
                            color: #6c757d;
                            pointer-events: none;
                            transition: all 0.3s ease;
                        }

                        /* Input alanına odaklanıldığında veya dolu olduğunda label'ı yukarı kaldır */
                        .floating-input:focus + .floating-label,
                        .floating-input:not(:placeholder-shown) + .floating-label {
                            top: -10px;
                            font-size: 12px;
                            color: #d25062;
                        }

                        .password-toggle-btn {
                            position: absolute;
                            right: 0;
                            top: 8px;
                            background: none;
                            border: none;
                            cursor: pointer;
                            color: #6c757d;
                            padding: 0 10px;
                        }

                        /* Remember Me Checkbox ve Label */
                        .remember-me {
                            display: flex;
                            align-items: center;
                            font-size: 13px;
                            margin-bottom: 15px;
                            color: #6c757d;
                        }

                        .remember-me input[type="checkbox"] {
                            margin-right: 5px;
                        }

                        .custom-checkbox {
                            appearance: none; 
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            background-color: #ddd; 
                            border: 2px solid #888;
                            width: 16px;
                            height: 16px;
                            cursor: pointer;
                            display: inline-block;
                            position: relative;
                            border-radius: 3px;
                            margin-right: 5px;
                        }

                        .custom-checkbox:checked {
                            background-color: #dc7986; 
                            border-color: #d25062;
                        }

                        .custom-checkbox:checked::after {
                            content: '✔';
                            color: white;
                            font-size: 10px;
                            position: absolute;
                            top: -2px;
                            left: 1px;
                        }

                        .checkbox-label {
                            font-size: 14px;
                            color: #666;
                        }

                        .btn-primary {
                            background-color: #d25062; 
                            border-color: #d25062;
                            color: #fff; 
                        }

                        .btn-primary:hover {
                            background-color: #d25062; 
                            border-color: #d25062;
                            color: #fff;
                        }

                        .btn-primary:focus {
                            background-color: #d25062; 
                            border-color: #d25062;
                            outline: none; 
                            box-shadow: 0 0 0 0.2rem rgba(210, 80, 98, 0.5); 
                        }

                        /* "Register here" */
                        .text-decoration-none {
                            color: #d25062; 
                            text-decoration: none; 
                        }

                        .text-decoration-none:hover {
                            color: #952735; 
                            text-decoration: underline; 
                        }
                    </style>

                    <h2 class="card-title text-center mb-3" style="font-size: 22px;">Login</h2>

                    <form asp-action="Login" method="post">
                        <div class="form-group floating-label-group">
                            <input asp-for="Username" class="floating-input" placeholder=" " />
                            <label asp-for="Username" class="floating-label">Enter your username</label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group floating-label-group" style="position: relative;">
                            <input asp-for="Password" type="password" class="floating-input" id="password" placeholder=" " />
                            <label asp-for="Password" class="floating-label">Enter your password</label>
                            <button type="button" class="password-toggle-btn" id="togglePassword">
                                <i class="bi bi-eye" id="toggleIcon"></i> <!-- Göz ikonu -->
                            </button>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Remember Me Checkbox -->
                        <div class="remember-me">
                            <input asp-for="RememberMe" type="checkbox" class="custom-checkbox" />
                            <label asp-for="RememberMe" class="checkbox-label">Remember Me</label>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg" style="font-size: 14px; padding: 10px;">Login</button>
                        </div>
                    </form>

                    <div class="mt-2 text-center">
                        <p style="font-size: 12px;">Don't have an account? <a asp-action="Registration" class="text-decoration-none">Register here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            var passwordInput = document.getElementById('password');
            var icon = document.getElementById('toggleIcon');
            
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('bi-eye');
                icon.classList.add('bi-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('bi-eye-slash');
                icon.classList.add('bi-eye');
            }
        });
    </script>
}
