@model int

<a href="/ShoppingCart" class="btn btn-outline-primary position-relative">
    <i class="bi bi-cart"></i> Cart
    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
        </span>
    }
</a>